{{#returnContainer}}{{#isMapContainer}}Map<String, {{>daoReturnType}}>{{/isMapContainer}}{{#isListContainer}}List<{{>daoReturnType}}>{{/isListContainer}}{{/returnContainer}}{{^returnContainer}}{{>daoReturnType}}{{/returnContainer}}